.nav{
    display: flex;
    justify-content: space-between;
    margin-top: -10%;
}
nav ul li{
    display: inline-block;
    padding: 10px 10px;
    font-size: large;


}
.logo{
    color: black;
    font-weight: bold;
    font-size: x-large;
    text-transform: uppercase;
    font-size: 40px;

}
.nav ul li a{
    color: black;
    text-decoration: solid;
    font-weight: bold;


}
.button{
    border: 3px black solid;
    background-color: black;
    color: white;
    padding: 20px 15px;
    height: 7px;
    text-align: center;
}
.get{
    border: 2px black solid;
    background-color: black;
    color: white;
    padding: 10px 30px; 
}
#living{
    width: 60%;
    float: right;
    margin-top: -10%;
    margin-bottom: -50%;
    

    
}
.body{
    padding: 10%;
}
#chair1{
    width: 30%;
    float: left;
    height: min-content;
    border: 2px solid;
    margin-top: -1%;
    margin-bottom: -10%;
    margin-left: 5%;
    
}
.shop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.adv{
    font-size: 50px;
    margin-left: 30%;
    
}
#mini{
    font-size: 60px;
    font-weight: bold;


}
#line{
    font-size: 60px;
    font-weight: bold;

}

.one{
    
    margin-top: 60%;
    border-radius: 2px;
    margin-top: -5%;
}
    

.two{
    margin-left: 30%;
    margin-top: -25%;
    margin-right:10%;
    padding-left: 10px;
}
.three{
    border-radius: 2px;
    margin-left: 60%;
    margin-top: -25%;
}
.sallon{
    display: flex;
    margin-bottom: 10%;
}
.explore{
    border: 2px black solid;
    background-color: black;
    color: white;
    padding: 10px 30px; 
}
#sallon1{
    width: 30%;
    float: right;
    margin-bottom: 40%;
    margin-top: -20%;
    padding:0%
}
#sallon2{
    width: 30%;
    float: right;
    margin-top: -15%;
    margin-right: -15%;
    padding:0%
}
#sallon3{
    width: 20%;
    float: right;
    margin-top: -10%;
    margin-right: -15%;
    
}
#for{
    text-align: center;
    justify-content: space-between;
    padding: 30%;
    font-size: 35px;
    margin-top: -25%;
}
.color{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -25%; 
    padding-left: 10%; 



}
#red{
    width: 30%;
    padding: 5%;
    border-radius: 2px;
}
#white{
    width: 30%;
    padding: 5%;
    border-radius: 2px;
}
#yellow{
    width: 30%;
    padding: 5%;
    border-radius: 2px;
}
#collection{
    align-items: center;
    padding-left: 10%;
}
.view{
    border: 3px black solid;
    background-color: black;
    color: white;
    padding: 20px 15px;
    height: 7px;
    text-align: center;
}
.footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: large;
    margin-top: 10%;
}
#room1{
    width: 35%;
    padding: 2%;
}
#room2{
    width: 50%;
    padding: 2%;
}
#room3{
    width: 50%;
    padding: 2%;
}
#room4{
    width: 35%;
    padding: 2%;
}
#pic{
    width: 90%;
    border-radius: 5px solid white;
    background-color: white;
    padding: 5%;
    height: 5%;
    
}
.sub{
    margin-top: -50%;
    margin-left: 20%;
    font-size: 70px;
    font-weight: 40px;
    margin-bottom: -5%;
}
.email{
    margin-left: 20%;
    margin-top: 10%;
    
}
input{
padding-left: 150%;
padding-right: 150%;
padding: 3%;
width: 300px;
}
.press{
    margin-left: 55%;
    margin-top: -90%;
    margin-right: 70%;
    background-color: black;
    color: white;
    border: 2px black solid;
    width: 10%;
    height: 20%;
}
.now{
    background-color: white;
    color: black;
    float: right;
    margin-top: -15%;
    /* margin-left: 30%; */
}
.cont{
    background-color: whitesmoke;
}
#intebe{
    width: 25%;
    margin-bottom: 20%;
    /* margin-left: 0%; */
    margin-top: -40;
}
#royal{
    width: 25%;
    margin-bottom: 20%;
    /* margin-left: 0%; */
    /* margin-top: -20; */
}
.chairs{
    justify-content: space-between;
    display: flex;
    padding: 10%;
    margin-top: 17%;
}